<div>
  <ion-item>
    <ion-label>
      Nom
    </ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      Temporalité
    </ion-label>
    <ion-input [(ngModel)]="temp"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      Attaque
    </ion-label>
    <ion-input type="number"  [(ngModel)]="att"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      Dégats
    </ion-label>
    <ion-input type="number"  [(ngModel)]="dgt"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      Critique
    </ion-label>
    <ion-input [(ngModel)]="crit"></ion-input>
  </ion-item>
  <button ion-button (click)="validate()">Valider</button><button ion-button (click)="cancel()">Annuler</button>
</div>
