<div class="modal">
  <div class="selection">
    <ion-item>
      <ion-label>
        Nom de l'objet
      </ion-label>
      <ion-input [value]="name" [(ngModel)]="newname" name="newname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Temporalité
      </ion-label>
      <ion-input [value]="origin" [(ngModel)]="neworigin" name="neworigin"></ion-input>
    </ion-item>
    <button ion-button (click)="validate()" class="validate">Valider</button><button ion-button (click)="cancel()" class="cancel">Annuler</button><button ion-button (click)="remove()" class="delete">Supprimer</button>
  </div>
</div>
