<ion-header>
  <ion-navbar>
    <ion-title>Création d'un personnage</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  Desormais, avec toutes les informations, il va faloir attribuer tes statistiques !
  <div *ngFor="let stat of stats">
    <ion-label>{{stat.Nom}}</ion-label><ion-input></ion-input>(Trait natif : {{stat.Natif}})
    <ion-item *ngFor="let dice of dices; let i = index">
      Dé : {{dice}} Stat : <select [(ngModel)]="chosen[i]"><option *ngFor="let stat of stats" [value]="stat.Nom">{{stat.Nom}} (Trait natif : {{stat.Natif}})</option></select>
    </ion-item>
  </div>
  {{error}}
  <button ion-button round class="next" (click)="next()"><ion-icon name="arrow-forward"></ion-icon></button>
</ion-content>
