bar {
  .status {
    display: inline;
  }

  .progress-outer {
    height: 35px;
    width: 96%;
    margin: 10px 2%;
    padding: 3px;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    color: #fff;
    border-radius: 20px;
  }

  .progress-inner {
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    height: 27px;
    border-radius: 20px;
  }

  .overcharged {
    background: darkblue;
    height: 27px;
    margin-top: -27px;
    padding-left: 70px;
  }

  .valovercharged {
    padding-left: 55px;
    margin-top: -17px;
  }

  .addition {
    float: right;
  }

  .substraction {
    float: left;
  }

  .overcharge{

  }
}
