<!-- Generated template for the EdititemComponent component -->
<div>
  <ion-item>
    <ion-label>
      Nom
    </ion-label>
    <ion-input [value]="name" [(ngModel)]="newname" placeholder="Nom de la réputation"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      Réputation
    </ion-label>
    <ion-input type="number" [value]="origin" [(ngModel)]="neworigin" placeholder="Valeur"></ion-input>
  </ion-item>
  <button ion-button (click)="validate()">Valider</button><button ion-button (click)="cancel()">Annuler</button>
</div>
