<ion-header>
  <header title="Menu"></header>
</ion-header>

<ion-content padding>

  <div *ngIf="character">
    <h1>{{character.Nom}} ({{character.Joueur}})</h1>
    <h2>Niveau {{character.Niveau}}</h2>
    {{character.Age}} ans, {{character.Sexe}}. Cheveux : {{character.Cheveux}}, Yeux : {{character.Yeux}}, Taille : {{character.Taille}}, Dextrie : {{character.Dextrie}}.
    <br />
    <h3>Vie :</h3>
    <bar ishidden="false" [charId]="charId" buttonHidden="false" type="life" [newcolor]="lifecolor"></bar><br />

    <h3>Santé Mentale :</h3>
    <bar ishidden="false" [charId]="charId" buttonHidden="false" type="mentalLife" [newcolor]="mentalcolor"></bar>

    <h3>Fatigue :</h3>
    <bar ishidden="false" [charId]="charId" buttonHidden="false" type="weariness"  [newcolor]="fatiguecolor"></bar>

    <h3>Concentration :</h3>
    <bar ishidden="false" [charId]="charId" buttonHidden="false" type="concentration" [newcolor]="concentrationcolor"></bar>

    <h3>Adrenaline :</h3>
    <adrenaline [charId]="charId"></adrenaline>

    <h3>Experience :</h3>
    <bar [ishidden]="expHidden" [charId]="charId" buttonHidden="true" type="experience" [newcolor]="experiencecolor"></bar>

    <div *ngIf="character.Experience >= maxExperience">
      <button ion-button round (click)="levelup()">LEVEL UP!!!</button>
    </div>
    <button ion-button round (click)="editVanity()">Modifier profil</button>
  </div>

  <div *ngIf="!character">
    <ion-spinner></ion-spinner>
  </div>

</ion-content>

