page-charchoice {
  div {
    top: 25%;
    text-align: center;
  }

  select {
    width: 70%;
  }

  .bottom {
    position: absolute;
    bottom: 5%;
    left: 25%;
    width: 50%;
  }

  .gm {
    position: absolute;
    bottom: 50%;
    left: 25%;
    width: 50%;
  }
}
