<ion-header>
  <ion-navbar>
    <ion-title>Bienvenue sur la SwanApp !</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngIf="names">
    Choisissez la personne de votre choix : <br />
    <select [(ngModel)]="charnb" (change)="validate()">
      <option *ngFor="let nom of names ; let i = index" value="{{i}}">{{nom}}</option>
    </select>
    <button ion-button round (click)="newchar()" class="bottom">Nouveau personnage</button>
  </div>
  <div *ngIf="!names">
    <ion-spinner></ion-spinner>
  </div>
</ion-content>
