<div *ngIf="character">
  <button class="substraction" ion-button round (click)="remove()">-</button>
  <img *ngIf="character.Adrenaline == 1 || character.Adrenaline == 2 || character.Adrenaline == 3" class="img" width="60" height="60" src="./assets/imgs/orb1.png" /><img *ngIf="character.Adrenaline == 2 || character.Adrenaline == 3" class="img" width="60" height="60" src="./assets/imgs/orb2.png" /><img *ngIf="character.Adrenaline == 3" class="img" width="60" height="60" src="./assets/imgs/orb3.png" />
  <button class="addition" ion-button round (click)="add()">+</button>
</div>
