adrenaline {
  div{
    justify-content:space-between;
    width: 100%;
    display: flex;
  }
  .img {
    margin-right: auto;
    margin-left: auto;
    height: 10%;
    width: 10%;
  }

  .addition {
    float: right;
  }

  .substraction {
    float: left;
    display: block;
  }
}
